{% extends "base.html.twig" %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


<script src="{{ asset('js/index.js') }}"></script>
<script src="{{ asset('js/careers.js') }}"></script>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
<link href="{{ asset('css/index.css') }}" rel="stylesheet" />
<link href="{{ asset('css/jobPopup.css') }}" rel="stylesheet" />


{% endblock %}

{% block body %}
<img class="top-image" style="width:100%;" src="{{ asset('images/template.svg') }}">
<div class="break"></div>

<div style="height:20px;width:100%"></div>
<div class="animatedsectionsvertical section-start-aboutus">
    <div class=" aboutus-description">

        <h3>
            Digital XBO solves fragmented workflows and communication across real estate software by integrating with
            relevant solutions</h3>
        </br>
        <h5 style="color:grey">Real estate developers and contractors are unable to operate efficiently across the
            different
            software required over the course of developing property. Their frustration over the loss of time and
            profitability is palpable and that’s why we work tirelessly to solve the fragmented workflow across real
            estate
            software - a very expensive pain to endure. Typical projects include numerous in-house and third-party
            solutions
            that don’t interoperate which results in poor communication between developers, contractors and
            owners/tenants -
            affecting information flow and profitability.</h5>
    </div>
    <div class="break"></div>
    <div style="height:100px;width:100%"></div>
    <div class="animatedsectionshorizontal-left aboutus-card1">
        <h5 style="color:white">We solve this by integrating with relevant solutions so that our customers don’t have to
            and provide an overview across all projects and related industry data. The functionalities of these
            integrations are accessible through our easily accessible and user friendly, user interface. In addition,
            our product provides a dashboard showcasing actionable insights to help our customers immediately identify
            problem areas and view progress efficiently.
        </h5>
    </div>
    <div class="break"></div>
    <div style="height:50px;width:100%"></div>
    <div class="animatedsectionshorizontal-right aboutus-card2">
        <h5 style="color:white">DXBO was initially established according to the need of internal real estate projects at
            OBOS Block Watne to better engage with home owners during the construction phase. Today it is an independent
            startup with direct market validation and increasing untapped potential. This solution has been accomplished
            in other industries, but the property industry has had no attempts at solving this issue across its own
            industry.</h5>
    </div>
</div>
<div class="break"></div>
<div class="animatedsectionsvertical section-start-ourcrew">
    <div class="ourcrew-element">
        <img src="{{ asset('images/crew1.png') }}" class="ourcrew-img" alt="crew1">
        <img src="{{ asset('images/crew2.png') }}" class="ourcrew-img" alt="crew2">
        <img src="{{ asset('images/crew3.png') }}" class="ourcrew-img" alt="crew3">


    </div>
</div>

<div class="toggle">

</div>

<div class="animatedsectionsvertical section-start-careers">


</div>{% endblock %}
